@import "tailwindcss";

@theme {
  --color-pepa-tan: #c8a97a;
  --color-tierradentro-green: #2d5a27;
  --color-terracotta-earth: #b24f3f;
  --color-segovia-black: #1a1a1a;
  --color-misty-cloud: #f8f5f1;
}

body {
  background-color: var(--color-misty-cloud);
  color: var(--color-segovia-black);
}
